html {
    font-family: "Roboto", sans-serif;
}

#htpBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trigger {
    border: 0;
    border-radius: 10px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 0;
}

.trigger:hover {
    background: #1d49aa;
}
  
.trigger:focus {
    outline: none;
    box-shadow: 0 0 0 2px #D2D2D2;
}

header {
    background-color: #191d20;
    color: #D2D2D2;
}

body {
    margin: 0px;
    padding: 0px;
    margin-bottom: 100px
}

body,
footer {
    background-color: #252a2f;
    color: #D2D2D2;
}

#logo {
    text-align: center;
    font-size: 100px;
    margin-bottom: 32px;
    margin-top: 0;
    padding: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#play-buttons {
    display: flex;
    justify-content: space-around;
    margin: 32px;
    width: 100%;
}

#play-buttons button {
    border: 0;
    background-color: #252a2f;
}

#play-buttons button img {
    width: 200px;
    height: auto;
    padding: 16px;
}

#play-buttons button:hover {
    box-shadow: 0 0 0 1px #D2D2D2;
}

#play-buttons button:active {
    transform: scale(0.98);
}

#result {
    font-size: 32px;
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: 16px;
}

#rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rules h1 {
    margin-bottom: 32px;
}

ul {
    list-style-type: none;
}

li {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 42px;
    margin-right: 24px;
}

#author {
    font-size: 18px;
    font-weight: 700;;
}

footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#footer-container img {
    width: 20px;
    height: auto;
    transition: 1s;
}

#footer-container a img:hover {
    transform: rotateY(180deg) scale(1.2);
}


/* Styles for modal window */
.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: #ffffff;
    cursor: default;
    padding: 40px 20px;
    color: #0c0c0c;
}

.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

.modalWindow {
    position: relative;
}